<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0ee1a0b888.js"></script>
    <link rel='stylesheet' href='/stylesheets/events.css' />

    <title>Document</title>
</head>

<body>
    <i class="fab fa-centercode grey"></i>
    <form id="emailFilefm" style="display: none;" class="form_cover" id="eventForm" method="POST" action=""
        enctype="multipart/form-data">
        <input type="email" required class="enF" name="email">
        <input class="filell" name="postImage" type="file">
        <input class="submit button" type="submit" value="Submit">
    </form>
</body>

<script>
    gray = document.querySelector(".grey");
    emailFilefm = document.querySelector("#emailFilefm");
    let pathName = window.location.pathname;
    gray.addEventListener("click", opeEvil);

    function opeEvil() {
        if (emailFilefm.style.display === "none") {
            emailFilefm.style.display = "block";
        } else {
            emailFilefm.style.display = "none";
        }
    }
    document.getElementById("eventForm").action =
        pathName

</script>

</html>