<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0ee1a0b888.js"></script>
    <title>Document</title>
</head>
<style>
    .span0 {
        position: absolute;
        top: 230px;
        left: 350px;
        color: #d63031;
        font-size: 150px;
    }

    .span1 {
        position: absolute;
        top: 235px;
        left: 520px;
        color: #2d3436;
        font-size: 45px;
    }

    .backarrow {
        color: #2f3640;
        font-size: 30px;
    }

    .backarrowA {
        position: absolute;
        top: 90px;
        left: 30px;
        color: #2f3640;
        text-decoration: none;
    }

    .backarrowA:hover {
        color: #0097e6
    }
</style>

<body>
    <a class="backarrowA" href="/dashboard">
        <i class="fas fa-long-arrow-alt-left backarrow"> </i></a>

    <span class="span0"><i class="fas fa-ban"></i></span>
    <span class="span1">
        <p>Page Currently not available</p>
    </span>

</body>

</html>