<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0ee1a0b888.js"></script>
    <link rel="stylesheet" href="samdes.css">
    <link rel="stylesheet" href="../Login.css">
    <link rel="stylesheet" href="../addEvent.css">
    <title>Document</title>

    <style>
        .backarrow {
            color: #2f3640;
            font-size: 30px;
        }

        .backarrowA {
            position: absolute;
            top: 90px;
            left: 30px;
            color: #2f3640;
            text-decoration: none;
        }

        .backarrowA:hover {
            color: #0097e6
        }
    </style>
</head>

<body>
    <a class="backarrowA" href="/">
        <i class="fas fa-long-arrow-alt-left backarrow"> </i></a>


    <div class="eee awesome">ekodiary</div>

    <div id="intro">
        <div class="tt0" style="height: 600px;">
            <form action="/register" method="POST" id="form0">
                <div class="LoginLogo" style="position: absolute; left: -45px; width: 400px;">
                    Sign Up
                </div>
                <div class="inner" style="top: 140px; margin-left: 0px;">
                    <input type="name" id="name" style="color: #2d3436;" name="name" class="form-control input1"
                        placeholder="Enter Name" value="" />

                    <input type="email" id="email" style="color: #2d3436;" name="email" class="form-control input1"
                        placeholder="Enter Email" value="" />

                    <input type="password" id="password" style="color: #2d3436;" name="password" style="color: 600px;"
                        class="form-control input1" placeholder="Create Password" value="" />
                    <input type="password" id="password2" style="color: #2d3436;" name="password2" style="color: 600px;"
                        class="form-control input1" placeholder="Confirm Password" value="" />
                    <input type="hidden" value="visitor" style="color: #2d3436;" name="role">
                    <button type="submit" style="border: 1px solid gray; color: gray;"
                        class="button bS ovE">Register</button>
                </div>
                <div id="img21" style="width: 50px; height: 50px;"> </div>
            </form>
            <p class="lead" style="position: absolute; width: 200px; top: 495px;">
                Have An Account?<a href="/login/users">Login</a>
            </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>