.imgfit{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.gallery{
    margin: 10px 50px;
}

.gallery img{
    transition: 1s;
    padding:  15px;
}

.gallery img:hover{
filter: grayscale(100%);
transform: scale(1.1);
}



.compoundCover{
    margin-left: 30px;
}

#eventHeading{
margin-top: 5px;
}

.grey{
    position: fixed;
    top:500px;
    left: 10px;
    font-size: 70px;
    z-index: 100;
}

#emailFilefm{
    position: fixed;
    top: 510px;
    left: 90px;
    z-index: 100;
}
.buttonWide{
    background-color: #c0392b;
    opacity: 0.3;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: -20px;
    cursor: pointer;
    transition: 1s;
}

.buttonono0{
    background-color: #0097e6;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: -20px;
    cursor: pointer;
    transition: 1s;
}

.buttonWide0{
    background-color: #0097e6;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: -20px;
    cursor: pointer;
    transition: 1s;
}

#txash{
    margin-top: -45px;
}

.buttonWide:hover{
    opacity: 0.9;
}
.list_group_item{
    float: left;
}

#verifyMail{
    width: 100%;
    padding: 12px 20px;
    margin-left: -30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
}

.inputgenClass{
    width: 190px;
    padding: 12px 15px;
    margin-left: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#wider{
    position: fixed;
    top: 0;
    z-index: -30;
    background-color: white;
    width: 100%;
    height: 700px;
}